/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF RESET*/

h1 {
	margin-top: 2rem;
	text-align: center;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 2.5rem;
	-webkit-font-smoothing: antialiased;
}

h2 {
	padding: 2rem 10%;
	text-align: left;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 120%;
	-webkit-font-smoothing: antialiased;
}

li {
	text-align: left;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 150%;
	-webkit-font-smoothing: antialiased;


}
.form-button {
	display: inline-block;
	position: relative;
	text-align: center;
	max-width: 500px;
	margin-left: 10%;

}

}
.form-button input {
	margin: 10px;
	padding: 1rem;
	width: 100px;
	height: 30px;
	position: relative;
	float: left;
	font-size: 1rem;
	padding: 0;
}

#myInput {
	padding: 0.25rem;
	margin: 0 auto;
	height: 2rem;
	font-size: 1.125rem;
	display: block;
	float: left;
	vertical-align: top;

}
#myButton {
	text-align: center;
	vertical-align: center;
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1rem;
	display: block;
	margin: 0 auto;
	margin-left: 1rem;
	float: right;
}

button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

ul {
	margin-top: 2rem;
	margin-bottom: 10rem;
	margin-left: 10%;
}

#errormessage {
	display: none;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1rem;
	padding: 1rem;
	text-align: left;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 120%;
	-webkit-font-smoothing: antialiased;
	background-color: #F2DEDE;
	border-color: #F2DEDE;
	border-radius: 4px;
	color: #B94A48


}
